
a:hover {
	color: red;
    }

a:visited {
    color:orange;
    }
a:link {
    color: blue;
}
@font-face {
    font-family:cursive;
    font-style:normal;
    font-weight:400;
}

html {
    background-color: darkseagreen
}
#header {
    background-color:burlywood;
    border: brown dashed 8px;
}

#footer{
    background-color: burlywood;
    align-content: center;
    border: brown dashed 8px; 
}
#intro{
    align-content: center;
    font-family: cursive
}
#menu {
    background-color: cornsilk;
}
h1 {
    font-family: cursive;
    font-weight: 500;
    font-size: 50px;
}
h3{
    font-family: cursive;
    font-weight:500
    font-size: 25px;
}
h5{
    font-family: cursive;
        
}
form {
    font-weight: 500
}
